@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-VariableFont_wght.ttf") format('truetype');
}
p{
  font-size: 50px;
  font-family: Jost;
  margin: 100px auto 0;
  color: rgba(255, 94, 3, 1);
  font-weight: bolder;
  text-align: center;
}
.barbers{
  grid-gap:100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.add_barber{
  display: flex;
  flex-direction: column;
  .add_new_barber{
    margin: 50px auto;
    text-align: center;
    border: 1px solid rgba(255, 94, 3, 1);
    border-radius: 10px;
    height: 50px;
    font-size: 30px;
    font-family: Jost;
    background-color: rgba(255, 94, 3, 1);
    width: 300px;
  }
  .form_for_adding_barber{
    border: 1px solid rgba(255, 94, 3, 1);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    input, .select{
      font-size: 30px;
      height: 60px;
      width: 600px;
      background-color: rgba(255, 94, 3, 1);
      font-family: Jost;
      border: 1px solid rgba(255, 94, 3, 1);
      border-radius: 10px;
      margin: 40px auto 10px;
      color: black;
    }
    input::placeholder{
      color: black;
    }
    .button_for_add{
      margin: 20px auto;
      text-align: center;
      width: 200px;
      height: 50px;
      border: 1px solid rgba(255, 94, 3, 1);
      border-radius: 10px;
      background-color: rgba(255, 94, 3, 1);
      font-family: Jost;
      font-size: 30px;
      font-weight: bolder;
    }
  }
}
